<div class="team_members">
<h3 class="text-center"> Our team</h3>
  <ul class="list-inline text-center ">
    <% data.team_members.each do |member| %>
      <li>
        <%= image_tag "#{member.image}", class: "img-circle team-avatar" %>
        <h3><%= member.name.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
<div class="text-center">
  <a href="mailto:contact@airbnb.com"><h3><i class="fa fa-envelope"></i> contact@airbnb.com</h3></a>
</div>
